<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">  <!--문자셋 지정(저장 시 인코딩 utf-8로 선택)-->
      <title> New User</title>
    <style type="text/css">
      .my-box { border:1px solid; padding:10px; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function InsertInfo() {
        var queryString = $("form[name=testInsertForm]").serialize() ;
        var settings = {
          "url": "",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": queryString
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
        });
      }

    </script>
    <!--
    <style type="text/css">  input위치 조정하려고 style class 만들어봄
      .location{
        position: fixed; left:  150px;
      }
      </style>

      ??? input 안에 class 와 style 로 줬을때 위치가 다름 ..
    -->

  </head>
  <body>
    <h1>회원 가입</h1>
    <hr>
    <div class="my-box">
      <form name="User_Name" action="/user/signup" method="post">
        <div>
          <label style="margin-left: 10px" >* 아이디</label>
          <input style="position: fixed; left: 150px" type="identify" name="identify" placeholder="아이디 입력해주세요">
        </div>
      <div>
        <label style="margin-left: 10px" >* 비밀번호</label>
        <input style="position: fixed; left: 150px" type="password" name="password" placeholder="비밀번호 입력해주세요">
      </div>
        <div>
          <label style="margin-left: 10px" >* 비밀번호 확인 </label>
        <input style="position: fixed; left: 150px" type="password_confirm" name="password_confirm" placeholder="비밀번호 확인">
        </div>
        <div>
          <label style="margin-left: 10px" >* 이 름</label>
          <input style="position: fixed; left: 150px" type="name" name="name" placeholder="이름 입력해주세요">
        </div>
      <div>
        <label style="margin-left: 10px" >* 전화 번호 </label>
        <input style="position: fixed; left: 150px" type="number" name="number" placeholder="전화번호 입력해주세요">
      </div>
        <label style="margin-left: 10px" >* 이메일 </label>
        <input style="position: fixed; left: 150px" type="text" name="user_email" placeholder="이메일 입력해주세요"> <!-- 인증번호?? -->

      </form>
      <button onclick="InsertInfo(); return;" type="for_signup">회원가입</button>
    </div>

  </body>
</hTML>
